# also check .gitignore

**/.angular
**/.github
**/.vscode
**/bin
**/dist
**/node_modules
**/test-results

**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/dockerfile
**/docker-compose*
**/*.md
