# also check .dockerignore

.angular
# .github
.vscode
artifacts
# !artifacts/runtime/index.cjs
bin
dist
node_modules
test-results

# .dockerignore
# .editorconfig
# .gitattributes
# .gitignore
# [Dd]ocker*
# run.sh
# *.md
