# also check .dockerignore

.angular
# .devcontainer
# .github
.vscode
artifacts
bin
dist
media
node_modules

# .dockerignore
# .editorconfig
.env
# .gitattributes
# .gitignore
# [Dd]ocker*
# run
# *.md
# !README.md
