# also check .dockerignore

.angular
# .github
.vscode
artifacts
# !artifacts/runtime
bin
certs
dist
media
node_modules

# .dockerignore
# .editorconfig
.env
# .gitattributes
# .gitignore
# [Dd]ocker*
# run
# *.md
