<script src="https://accounts.google.com/gsi/client" async defer></script>

<div class="g_id_signin" data-type="standard"></div>
<div id="g_id_onload" data-client_id="557086031139-j4q5n1tpnr9jk8shm3d0qj0ura7v5nd2" data-callback="gSignInCb"></div>
