<script src="https://accounts.google.com/gsi/client" async defer></script>

<div class="g_id_signin"
     data-type="standard"></div>

<div id="g_id_onload" 
     data-client_id="<%= gClientId %>" 
     data-callback="gSignInCb"></div>
