<style>
    .nav { padding: .5rem; font-size: 1rem; }
    .nav a { padding-left: .25rem; padding-right: .25rem; border-right: 1px solid gray; white-space: nowrap; }
    .nav span { padding-left: .25rem; white-space: nowrap; }
    .nav.opacity-75 a { border-right-color: #333; }
    .nav.opacity-75 span { color: #333; }
    @media screen and (max-width: 450px) { .nav { font-size: .75rem; } }
</style>

<div class="nav sticky-top <% if (locals.dark) { %>opacity-75<% } else { %>bg-light<% } %>">
    <% pills.forEach((pill, index) => { %>
        <% if (index < pills.length - 1) { %>
            <a href="<%- pill.link %>"><%- pill.name %></a>
        <% } else { %>
            <span><%- pill.name %></span>
        <% } %>
    <% }); %>
</div>
