<style>
    .media-w-xs .nav,
    .media-w-sm .nav { font-size: .75rem; }
</style>

<div class="nav sticky-top p-2 bg-light">
    <% pills.forEach((pill, index) => { %>
        <% if (index < pills.length - 1) { %>
            <a class="ps-1 pe-1 text-nowrap border-end" href="<%- pill.link %>"><%- pill.name %></a>
        <% } else { %>
            <span class="ps-1 text-nowrap text-dark"><%- pill.name %></span>
        <% } %>
    <% }); %>
</div>
